body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
}




.grid {

    width: 400px;
    height: 600px;
    background-image: url("pizzabackgrounf.webp");
    background-size: cover;
    background-position: 15% 0;
    background-repeat: no-repeat;
    position: relative;
    font-size: 100px;
    text-align: center;

}


.spooder {
    width: 87px;
    height: 95px;
    background-image: url('minispiderman.png');
    background-size: cover;  
    background-repeat: no-repeat;
    position: absolute;
}


.platform {
    width: 85px;
    height: 20px;
    background-image: url('miniplatform2.png');
    position: absolute;
}

#score-display {
    position: absolute;
    font-size: 30px;
    top: 10px; 
     margin-left: 35%;
    color: rgb(0, 0, 0); 
    font-family: 'Courier New', Courier, monospace; 
    background-color: aliceblue;
    border-style: groove;
    font-display: bold;
    z-index: 2; 
}
